@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kaisei+Opti&display=swap');
@import "tailwindcss";
@plugin  "tailwindcss-animate";


    
@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --font-kaisei: "Kaisei Opti", "serif";
  --animate-ping:   ;
  
  
}
*{

  background-color: calc(#e7e6e3);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


.color-red{
  background-color: #E15B5B;
}

